<html>
  <head>
    <title>MapReduce Made Easy!</title>
    <script src="mapreduce/jquery.js" type="text/javascript"></script>
    <script src="static/js/custom.js" type="text/javascript"></script>
  </head>
  <body bgcolor="#66ccff">
    <div style="width:75%; background-color:#FFFFFF">
      <h1>Locality Sensitive Hashing</h1>
      <h2>Choose a data file:</h2>
      <div>{{ username }}'s files:</div>
      <br />
      {% if length %}
      <table border=1>
        <tr>
          <td></td>
          <td>name</td>
        </tr>
        {% for item in items %}
        <tr>
          <td><input type="radio" onclick="updateForm('{{ item.ds_key }}',
            '{{ item.blob_key }}', '{{ item.filename }}');"></td>
          <td>{{ item.filename }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div>No files uploaded yet!</div>
      {% endif %}
      <br />
      <br />
      <form action="/blobs" method="post">
        Input File: <label id="jobName">none selected</label>
        <input type="hidden" name="filename" id="filename" value="">
        <input type="hidden" name="blobkey" id="blobkey" value="">
        <input type="hidden" name="ds_key" id="ds_key" value="">
        <br />
        <br />
        <table>
          <tr>
            <td><input type="submit" id="run_lsh" name="run_lsh" value="Run LSH" disabled="true"></td>
          </tr>
        </table>
      </form>
      <hr />
      <div>
      <h2>Upload new data</h2>
      The new data file (should be a pre-processed zip file).
      <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        <table>
          <tr>
            <td>From your computer:</td>
            <td><input type='file' name='file' id='file' /></td>
          </tr>
          <tr>
            <td colspan=2 align="center"><input type='submit' name='submit' value='Upload'></td>
          </tr>
        </table>
      </form></div>
    </div>
  </body>
</html>
