{% extends "base.html" %}

    {% block main_content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Open LSH</h1>
        <h2>Locality Sensitive Hashing</h2>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
        <h2>Demo will be available soon</h2>
        </div>
       <div class="span4">
       </div>
       <div class="span4">
       </div>
      </div>
    {% endblock main_content %}
