{% extends "base.html" %}
    {% block meta %}
        {% if fetching %}
            <meta http-equiv="refresh" content="2" />
        {% elif calculating %}
            <meta http-equiv="refresh" content="12" />
        {% endif %}
    {% endblock meta %}

    {% block main_content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Open LSH</h1>
        <h2>Locality Sensitive Hashing</h2>
        <h3>A framework for classifying similar objects together, eliminating duplicates and near-duplicates
        <a href="http://openlsh.datathinks.org/" target="_blank" class="btn btn-primary btn-large" style="visibility: hidden;">LSH</a>
        <a href="http://openlsh.datathinks.org/" target="_blank" class="btn btn-primary btn-large">Learn more &raquo;</a>
        </h3>
      </div>

  {% if google_logged_in %}
    {% if app_is_closed %}
    <div class="row"><div class="span8">
        <h1>We&rsquo;ll be back soon!</h1>
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. 
        If you need to you can always contact us, otherwise we&rsquo;ll be back online shortly!</p>
        <p>&mdash; The OpenLSH Team</p>
    </div></div>
    {% else %}
      {% if tw_auth %}
        <div class="row">
          <div class="span4">
            <form action="/twitter_read_node" method="post">
                <input type="submit" value="Get Tweets">
            </form>
            <p>{{ tw_banner|safe }}</p>
          </div>
          <div class="span4">
            {% if calculating %}
              <p>Calculating LSH Buckets</p>
            {% else %}
              <p></p>
            {% endif %}
          </div>
          <div class="span4">
        {% if calc_done %}
            <form action="/" method="post">
                <input type="hidden" name="command" id="command" value="show_lsh_results">
                <input type="submit" value="Show duplicate or near-duplicate tweets">
            </form>
            {% if showing_lsh_results %}
                <a href="#" onclick="goBack()" />Go Back</a><br />          
            {% endif %}
        {% endif %}
      </div>
    </div>
    {% endif %}

      {% if tw_auth %}
        <hr />
        <p>{{ headline|safe }}</p>
          {% if showing_lsh_results %}
            <hr width="36%">
            <p>These tweets were not similar to anything else in this set</p>
          {% endif %}
        <p>&mdash; {{ tweet_display|safe }}</p>
        <br />
        <form action="/twitter_logout" method="post">
            <input type="submit" value="Log out of twitter">
        </form>
      {% else %}
        <p>Log into Twitter to get tweets</p>
        <form action="/twitter_login" method="post">
            <input type="submit" value="Log Into Twitter">
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
  <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock main_content %}
