{% extends "base.html" %}
    {% block meta %}
        {% if fetching %}
            <meta http-equiv="refresh" content="4" />
        {% elif calculating %}
            <meta http-equiv="refresh" content="16" />
        {% endif %}
    <script src="../assets/js/diff_match_patch.js"></script>
	<SCRIPT TYPE="text/javascript" LANGUAGE="JavaScript">
	function show_diff(text1, text2) {
		// Adapted from http://code.google.com/p/google-diff-match-patch/
	  var dmp = new diff_match_patch();
	  dmp.Diff_Timeout = 10.0;
	  dmp.Diff_EditCost = 4.0;
	
	  var d = dmp.diff_main(text1, text2);
	  dmp.diff_cleanupSemantic(d);
	  var ds = dmp.diff_prettyHtml(d);
	  return ds
	}
	</SCRIPT>
    {% endblock meta %}

    {% block main_content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Open LSH</h1>
        <h2>Locality Sensitive Hashing</h2>
        <h3>A framework for classifying similar objects together, eliminating duplicates and near-duplicates
        <a href="http://openlsh.datathinks.org/" target="_blank" class="btn btn-primary btn-large" style="visibility: hidden;">LSH</a>
        <a href="http://openlsh.datathinks.org/" target="_blank" class="btn btn-primary btn-large">Learn more &raquo;</a>
        </h3>
      </div>

  {% if google_logged_in %}
    {% if app_is_closed %}
    <div class="row"><div class="span8">
        <h1>We&rsquo;ll be back soon!</h1>
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. 
        If you need to you can always contact us, otherwise we&rsquo;ll be back online shortly!</p>
        <p>&mdash; The OpenLSH Team</p>
    </div></div>
    {% else %}
      {% if tw_logged_in %}
        <div class="row">
          <div class="span4">
            {% if fetching %}
              <p>Fetching Tweets</p>
            {% else %}
            <form action="/twitter_read_node" method="post">
                <input type="submit" value="Get Tweets">
            </form>
            {% endif %}
            <p>{{ tw_banner|safe }}</p>
          </div>
          <div class="span4">
            {% if calculating %}
              <p>Calculating LSH Buckets</p>
            {% else %}
              <p></p>
            {% endif %}
          </div>
          <div class="span4">
        {% if calc_done %}
            <p id="div1">Showing similar or same tweets<br/>
              <script TYPE="text/javascript" LANGUAGE="JavaScript">
              var text1 = "(Similar tweets highlight subtractions like this)";
              var text2 = "(Similar tweets highlight additions like this)";
                document.write(show_diff(text1,text2));
              </script></p>
            <br />
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="span7">
        <ul style="list-style-type:square;">
            {% for tweet in tweets %}
                <li>{{ tweet|safe }}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="span5">
        {% for similar_set in similar_sets %}
            <p><b>{{ similar_set|length }} pairs</b></p>
            {% for similar_pair in similar_set %}
              <p><i>{{ similar_pair.sim }}% similarity</i></p>
              <!--  <p>{{ similar_pair.text1|safe }}</p>
              <p>{{ similar_pair.text2|safe }}</p> -->
              <p><script TYPE="text/javascript" LANGUAGE="JavaScript">
                document.write(show_diff("{{ similar_pair.text1|safe }}", "{{ similar_pair.text2|safe }}"));
              </script></p>
            {% endfor %}
        {% endfor %}
        <hr width="36%">
        {% for same_set in same_sets %}
            <p><b>{{ same_set[0] }} identical tweets</b></p>
            <p>{{ same_set[1]|safe }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}

      {% if tw_logged_in %}
        <hr />
        <br />
      {% else %}
        <form action="/twitter_login" method="post">
            <input type="submit" value="Log Into Twitter">
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
  <a href="{{ url|safe }}">{{ url_linktext }}</a>
{% endblock main_content %}
